body {
  background: lightgray;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;

}

button {
  background: blue;
  color: yellow;
  max-width: 200px;
  min-width: 180px;
  margin: 10px;
  padding: 5px;
  font-size: 1.1rem;
}

.grid-container {
  border: 2px solid black;
  min-width: 800px;
  min-height: 900px;
}
